#what_we_do, #genius_studio, #faq, #our_blog{
  margin-bottom: 4rem;
  margin-top: 4em;
}

#over_header{
  .over-header-img{
    background-image: url("../images/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
    height: 100vh;
    color: white;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .over-header-content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    display:table-cell;
    vertical-align:middle;
    text-align:center;
  }
}

#what_we_do{
  .we-do-info{
    p{
      padding-left: 1.7rem;
    }

  }
  .icon-paragraph{
    h2{
      display: inline-block;
    }
  }
}


#genius_studio{
  background-color: #f7f7f7;
}

#latest_work{
  background-color: #f7f7f7;
  .image-item{
    padding-bottom: 1.5rem;
  }
}

#our_blog{
  .blog-entry{
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 3rem;
    margin-bottom: 1.5rem;

  }
}

#faq{
  background-color: #f7f7f7;
}

#contact_us{
  background-color: #f7f7f7;
}
